/* Basic Styles */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #333;
  text-decoration: none;
}

/* Background Slider */

.background-slider {
  animation: background-change 30s infinite;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

@keyframes background-change {
  0% { background-image: url('assets/Sakura.jpg'); }
  25% { background-image: url('assets/Racket.jpg'); }
  50% { background-image: url('assets/HongYaDong.jpg'); }
  75% { background-image: url('assets/CampingFire.jpg'); }
  100% { background-image: url('assets/Sakura.jpg'); }
}

/* Header */

header {
  background: rgba(244, 244, 244, 0.9);
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.profile-picture {
  border-radius: 50%;
  height: 80px;
  margin-right: 20px;
  width: 80px;
}

header h1 {
  display: inline;
  margin-right: 50px;
}

nav ul {
  display: inline;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}